<!-- start header -->
<header class="header_area">
    <!-- start main header -->
    <div class="main_header_area">
        <div class="container">
            <!-- start mainmenu & logo -->
            <div class="mainmenu">
                <div id="nav">
                    <nav class="navbar navbar-default">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </button>
                            <div class="site_logo fix">
                                <a id="brand" class="clearfix navbar-brand" href="/"><img style="width: 150px; height: 100px;" src="img/LOGO-3.png" alt="Axe Mining&Invests"></a>
                            </div>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse navbar-right" style="margin-top:20px" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                            <li><a href="/">Accueil</a></li>
                            <li><a href="gallery.html">Gallerie</a></li>
                            <li><a href="gallery.html">A propos de nous</a></li>
                            <li><a href="/contactus">Contactez-nous</a></li>
                            </ul>
                            <div class="emergency_number">
                                <a href="tel:1234567890"><img src="img/call-icon.png" alt="">+224 611 19 39 19</a>
                            </div>
                        </div><!-- /.navbar-collapse -->
                    </nav>
                </div>
            </div>
            <!-- end mainmenu and logo -->
        </div>
    </div>
    <!-- end main header -->

</header>
<!-- end header -->
